---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Manifesto from "../components/Manifesto.astro";
import CollisionScene from "../components/CollisionScene.astro";
import CookieSide from "../components/CookieSide.astro";
import TokenSide from "../components/TokenSide.astro";
import Overlap from "../components/Overlap.astro";
import Process from "../components/Process.astro";
import Proof from "../components/Proof.astro";
import About from "../components/About.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Nav />

  <main>
    <Hero />
    <Manifesto />
    <CollisionScene />
    <CookieSide />
    <TokenSide />
    <Overlap />
    <Process />
    <Proof />
    <About />
    <CTA />
  </main>

  <Footer />
</BaseLayout>
